<li>Saluton&nbsp;<span class="small-caps">Esperanto</span></li>
<li><span class="font-constructium"></span>&nbsp;<span class="small-caps">Klingon</span></li>
<li class="text-green-200"><span class="font-hamnosys"></span>&nbsp;<span class="small-caps">MiniSign</span></li>
<li class="text-green-200"><span class="font-sektale">vahli</span>&nbsp;<span class="small-caps">Sektale</span></li>
<li class="text-green-200">Suil&nbsp;<span class="small-caps">Sendok</span></li>
<li class="text-green-200">Sùlsul&nbsp;<span class="small-caps">Simlish</span></li>
<li class="text-green-200">ᑯᐃᕑ&nbsp;<span class="small-caps">Trilangle</span></li>
<li><span class="font-constructium"></span>&nbsp;<span class="small-caps">Quenya</span></li>
