<nav class="bg-stone-800 flex justify-center py-4">
  <ul class="navbar-nav mx-auto mb-0 flex flex-wrap gap-5 justify-center">
    <li><a class="nav-link" href="/">Home</a></li>
    <li><a class="nav-link" href="/projects">Projects</a></li>
    <li><a class="nav-link" href="/propaganda">Propaganda</a></li>
    <li><a class="nav-link" href="/zine">Zine</a></li>
    <li><a class="nav-link" href="/pidgin">PidginCraft</a></li>
    <li><a class="nav-link" href="/featured-conlangs">Featured Conlangs</a></li>
    <li><a class="nav-link" href="/contact">Contact</a></li>
  </ul>
</nav>