@layer utilities {
  @font-face {
    font-family: sektale;
    src: url(/assets/fonts/sektale.otf);
    size-adjust: 170%;
  }

  .font-sektale {
    font-family: sektale, sans-serif;
  }

  @font-face {
    font-family: constructium;
    src: url(/assets/fonts/constructium.ttf);
    size-adjust: 130%;
  }

  .font-constructium {
    font-family: constructium, sans-serif;
  }

  @font-face {
    font-family: hamnosys;
    src: url(/assets/fonts/hamnosys.woff2);
    size-adjust: 130%;
  }

  .font-hamnosys {
    font-family: hamnosys, sans-serif;
  }

  .font-encodesans {
    font-family: "Encode Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
}